/* ----------------------------------------- */
/* CSS Reset */
/* ----------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* ----------------------------------------- */
/* Custom properties */
/* ----------------------------------------- */

:root {
  --bg-sedan: #e28625;
  --bg-suvs: #006971;
  --bg-luxury: #004140;
}

/* ----------------------------------------- */
/* General Style */
/* ----------------------------------------- */

body {
  font-family: "Lexend Deca", sans-serif;
}

.heading-primary {
  font-family: "Big Shoulders Display", cursive;
  color: #f2f2f2;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.sedans {
  background-color: var(--bg-sedan);
}

.suvs {
  background-color: var(--bg-suvs);
}

.luxury {
  background-color: var(--bg-luxury);
}
